body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: burlywood;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background: url("https://i.etsystatic.com/15872687/r/il/6d8699/2129233744/il_794xN.2129233744_17yd.jpg");
  background-size: cover;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* the title */
.display-3{
  font-size: 100px;
  font-weight: bolder;
  color: rgb(200, 47, 0);
  text-shadow:5px 5px indigo;
}
/* edit the font of the date and time */
#currentDay{
  font-size:x-large;
  font-weight: bolder;
  color: rgb(129, 6, 22);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 3px dashed #000000;
  font-size: x-large;
  margin-bottom: auto;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #fd0d00;
  color: white;
}

.future {
  background-color: #00da00;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
